.complementary-products__container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-top: 0 !important;

  .summary__title {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0;
    color: #727376;
  }

  .price__regular {
    display: none;
  }

  .card__heading {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0;
    color: #1F242A;
  }

  .price__sale {
    display: flex;
    align-items: baseline;
    gap: .5rem;
  }

  .card.card--horizontal {
    align-items: center;
  }

  span.price-item.price-item--sale.price-item--last {
    order: -1;
    font-size: 14px;
  }

  span.price-item.price-item--sale.price-item--last span {
    display: none;
  }

  span.price-item.price-item--regular {
    font-size: 12px;
    font-weight: 400;
    color: #727376
  }

  /* Ocultar código de moeda (BRL) */
  .price-item {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 1.5em;
    line-height: 1.4;
  }

  .price__sale,
  .price__regular {
    max-height: 2em;
    overflow: hidden;
  }

  .accordion__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0;
    color: #727376;

  }

  .card-wrapper {
    border-radius: var(--radius-8, 8px);
    background: var(--Gray-100, #FFF);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
    padding: 1rem 2rem;
    border-radius: 8px;

    .tp-installments {
      display: none;
    }
  }

  .card__inner {
    max-width: 62px !important;
    height: auto;
  }

}

product-recommendations:not(.is-accordion) .complementary-products__container {
  margin-top: 1.5rem;
}

.complementary-products__container>details[open] {
  padding-bottom: 1.5rem;
}

.complementary-slider {
  margin-top: 0;
  gap: 0;
}

.complementary-slide {
  --shadow-padding-sides: calc((var(--shadow-horizontal-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
  --shadow-padding-sides-negative: calc((var(--shadow-horizontal-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
}

.complementary-slide>ul {
  display: flex;
  flex-direction: column;
  gap: var(--grid-mobile-vertical-spacing);
}

.complementary-slide.complementary-slide--standard>ul {
  gap: calc(var(--grid-mobile-vertical-spacing) + 8px);
}

@media screen and (min-width: 750px) {
  .complementary-slide>ul {
    gap: var(--grid-desktop-vertical-spacing);
  }

  .complementary-slide.complementary-slide--standard>ul {
    gap: calc(var(--grid-desktop-vertical-spacing) + 8px);
  }
}

.complementary-slide.grid__item {
  width: 100%;
  padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
  padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
  padding-right: max(var(--focus-outline-padding), var(--shadow-padding-sides));
  padding-left: max(var(--focus-outline-padding), var(--shadow-padding-sides-negative));
}

.complementary-slide .card-wrapper {
  height: auto;
}

.complementary-products>.summary__title {
  display: flex;
  line-height: 1;
  padding: 1.5rem 0;
}

.accordion+product-recommendations .accordion,
product-recommendations.is-accordion+.accordion {
  margin-top: 0;
  border-top: none;
}

.complementary-products>.summary__title .icon-accordion {
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.complementary-products__container .card--card .card__content,
.complementary-products__container .card--horizontal .card__information {
  padding: 0;
}

.complementary-products__container .card--horizontal .card__inner {
  max-width: 20%;
  background: #F4F5F8;
  border: none;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .complementary-products__container .card--horizontal .card__inner {
    max-width: 25%;
  }
}

.complementary-slide .card--text .card__content {
  grid-template-rows: minmax(0, 1fr) max-content auto;
}

.complementary-products__container .card--card.card--media>.card__content {
  margin-top: 0;
}

.complementary-products-contains-quick-add .underline-links-hover:hover a {
  text-decoration: initial;
}

.complementary-products-contains-quick-add .card__heading:hover a {
  text-decoration: underline;
}

.complementary-products__container .card--card .card__inner .card__media {
  border-radius: calc(var(--corner-radius) - var(--border-width) - var(--image-padding));
}

.complementary-products__container .card--horizontal .quick-add {
  margin: 0;
  max-width: 20rem;
}

.complementary-products__container .quick-add__submit {
  padding: 1.5rem 0;
  min-height: inherit;
}

.complementary-products__container .quick-add__submit .icon-plus {
  width: 1.2rem;
}

.complementary-products__container .icon-wrap {
  display: flex;
}

.complementary-products .sold-out-message:not(.hidden)+.icon-wrap {
  display: none;
}

.complementary-products__container .quick-add__submit:not(.animate-arrow) .icon-wrap {
  transition: transform var(--duration-short) ease;
}

.complementary-products__container .quick-add__submit:not(.animate-arrow):hover .icon-wrap {
  transform: rotate(90deg);
}

.complementary-products__container .quick-add__submit:after,
.complementary-products__container .quick-add__submit:hover:after {
  box-shadow: none;
}

.complementary-products__container .card--horizontal .quick-add,
.complementary-products__container .card__badge {
  justify-self: var(--text-alignment);
}

.product--no-media .complementary-products__container .price {
  text-align: var(--text-alignment);
}

@media screen and (min-width: 750px) {
  .complementary-products__container .price--on-sale .price-item--regular {
    font-size: 1.3rem;
  }
}

.complementary-products__container {

  .badge-discount {
    display: none;
  }

  .card-variant.small-hide {
    display: none !important;
  }

  .card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    align-self: center;


    @media (max-width:547px) {
      flex-wrap: wrap;
    }

    .card-discount-badge {
      display: none;
    }

    .installments {
      display: none;
    }



    button {
      color: var(--Gray-900, #292929);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      /* 14.4px */
      text-transform: uppercase;

      text-align: center;
      padding: 1rem;
      border-radius: 32px;
      background: var(--Gradient-50, linear-gradient(92deg, #00FCA8 0%, #1CDAFF 100%));

      @media (max-width:547px) {
        white-space: pre;
      }

    }

  }
}