.tp-beneficios {
    .tp-wrapper {
        display: flex;
        flex-direction: column;
        gap: clamp(3.2rem, 2.3086rem + 2.2857vw, 5.6rem);

        .tp-title-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: clamp(0.8rem, 0.5029rem + 0.7619vw, 1.6rem);
            flex-direction: column;

            h2 {
                color: #000;
                text-align: center;
                font-family: Inter;
                font-size: clamp(2.4rem, 1.5086rem + 2.2857vw, 4.8rem);
                font-style: normal;
                font-weight: 400;
                line-height: 100%; /* 57.6px */
            }

            p {
                font-family: Inter;
                color: #000;
                text-align: center;
                font-size: clamp(1.4rem, 1.3257rem + 0.1905vw, 1.6rem);
            }
        }

        .tp-grid {
            display: grid;
            gap: clamp(0.8000rem, calc(0.5029rem + 0.7619vw), 1.6000rem);

            grid-template-columns: repeat(var(--tp-cols-mobile, 1), 1fr);

            @media screen and (min-width: 768px) {
                grid-template-columns: repeat(var(--tp-cols-tablet, 2), 1fr);
            }

            @media screen and (min-width: 1024px) {
                grid-template-columns: repeat(var(--tp-cols-desktop, 3), 1fr);
            }

            .tp-block {
                display: flex;
                flex-direction: column;
                justify-content: center;
                justify-content: center;
                align-items: center;
                gap: clamp(0.4000rem, calc(0.2514rem + 0.3810vw), 0.8000rem);

                img {
                    width: clamp(6.8000rem, calc(5.7600rem + 2.6667vw), 9.6000rem);
                    height: auto;
                }

                .tp-block__text-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    align-items: center;
                    justify-content: center;

                    h6 {
                        font-size: clamp(2.0rem, 1.8514rem + 0.381vw, 2.4rem);
                        font-family: Inter;
                        color: #000;
                        line-height: normal;
                    }

                    p {
                        color: var(--Gray-900, #101828);
                        text-align: center;
                        font-family: Montserrat;
                        font-size: clamp(1.0000rem, calc(0.8514rem + 0.3810vw), 1.4000rem);
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; /* 16.8px */
                        letter-spacing: 0.28px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}