.tp-e-img-benefits-v2__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--tp-space-6);
    align-items: center;
    justify-content: center;
}

.tp-e-img-benefits-v2__text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    max-width: 412px;
}

.tp-e-img-benefits-v2__text-wrapper h2 {
    text-align: center;
    color: var(--Gray-950, #0C111D);
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: clamp(2.4000rem, calc(2.1029rem + 0.7619vw), 3.2000rem);
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    text-transform: uppercase;
}

.tp-e-img-benefits-v2__text-wrapper-barra {
    width: 64px;
}

.tp-e-img-benefits-v2__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--tp-space-3);
    width: 100%;
    align-items: center;
}

.tp-e-img-benefits-v2__media {
    width: 100%;
    order: 0;
}

.tp-e-img-benefits-v2__image {
    width: 100%;
    height: auto;
}

.tp-e-img-benefits-v2__image--desktop {
    display: none;
}

.tp-e-img-benefits-v2__image--mobile {
    display: flex;
}

.tp-e-img-benefits-v2__block-wrapper {
    display: flex;
    gap: var(--tp-space-3);
    flex-direction: column ;
    width: 100%;
}

.tp-e-img-benefits-v2__block-wrapper--first {
    order: 1
}

.tp-e-img-benefits-v2__block-wrapper--second {
    order: 2
}

.tp-e-img-benefits-v2__block {
    display: flex;
    flex-direction: row;
    gap: var(--tp-space-3);
    align-items: stretch;
    border-radius: 8px;
    border: 1px solid #A5A4A4;
    overflow: hidden;
}

.tp-e-img-benefits-v2__block-image-wrapper {
    width: clamp(10.0000rem, calc(9.2571rem + 1.9048vw), 12.0000rem);
    flex-shrink: 0;
    overflow: hidden;
}

.tp-e-img-benefits-v2__block-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.tp-e-img-benefits-v2__block-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--tp-space-1);
    padding-inline: 16px;
}

.tp-e-img-benefits-v2__block-text-wrapper p strong {
    color: var(--gray-900, #101828);
}

@media screen and (min-width: 1024px) {
    .tp-e-img-benefits-v2__wrapper {
        gap: var(--tp-space-16);
    }

    .tp-e-img-benefits-v2__grid {
        grid-template-columns: 0.8fr 1fr 0.8fr;
        gap: var(--tp-space-8);
    }

    .tp-e-img-benefits-v2__media {
        order: 1;
    }

    .tp-e-img-benefits-v2__image--desktop {
        display: flex;
    }

    .tp-e-img-benefits-v2__image--mobile {
        display: none;
    }

    .tp-e-img-benefits-v2__block-wrapper {
        gap: var(--tp-space-16);
        justify-content: center;
    }

    .tp-e-img-benefits-v2__block-wrapper--first {
        order: 0;
    }

    .tp-e-img-benefits-v2__block-wrapper--second {
        order: 2;
    }

    .tp-e-img-benefits-v2__block-wrapper--second .tp-e-img-benefits-v2__block {
        flex-direction: row-reverse;
    }

    .tp-e-img-benefits-v2__block {
        gap: var(--tp-space-3);
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .tp-e-img-benefits-v2__block-image-wrapper {
        width: clamp(10.0000rem, calc(9.2571rem + 1.9048vw), 12.0000rem);
    }

    .tp-e-img-benefits-v2__block-image {
        height: auto;
    }

    .tp-e-img-benefits-v2__block-text-wrapper {
    }

    .tp-e-img-benefits-v2__block-text-wrapper p {
        align-items: left;
    }
}