.tp-featured-collection {
    width: 100%;

    .tp-wrapper--full-width {
        display: flex;
        flex-direction: column;
        gap: clamp(2.4rem, 1.5086rem + 2.2857vw, 4.8rem);

        .tp-title-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: center;
            justify-content: center;
            padding-inline: 16px;

            @media screen and (min-width: 768px) {
                padding-inline: 32px;
            }

            h2 {
                color: var(--Gray-900, #101828);
                text-align: center;
                font-family: "Helvetica Neue";
                font-size: clamp(1.6000rem, calc(1.4514rem + 0.3810vw), 2.0000rem);
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 24px */
                text-transform: uppercase;
            }

            .tp-button {
                color: var(--Gray-600, #475467);
                text-align: center;
                font-family: "Helvetica Neue";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 19.6px */
                letter-spacing: 2.24px;
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: auto;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
                text-underline-position: from-font;
                padding: 0;
                background: none;
            }

        }

        .swiper {
            width: 100%;

            .swiper-wrapper {
                .swiper-slide {
                    height: auto;
                }
            }
        }

        .tp-button {
            margin-inline: auto;
        }
    }
}

.tp-featured-collection__wrapper {
    @media screen and (min-width: 1024px) {
        padding-inline: 40px;
    }
}