.tp-richtext {

}

.tp-richtext__wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(3.2000rem, calc(2.9029rem + 0.7619vw), 4.0000rem);
    align-items: center;
    justify-content: center;
}

.tp-richtext__image {

}

.tp-richtext__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(1.2000rem, calc(1.0514rem + 0.3810vw), 1.6000rem);
    align-items: center;
    justify-content: center;
    max-width: 864px;
}

.tp-richtext__text-wrapper h2 {
    color: #0C111D;
    text-align: center;
    font-family: Montserrat;
    font-size: clamp(2.2000rem, calc(1.2343rem + 2.4762vw), 4.8000rem);
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    text-transform: uppercase;
    text-align: center;
}

.tp-richtext__text-wrapper p {
    color: var(--Gray-600, #475467);
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: clamp(1.4000rem, calc(1.3257rem + 0.1905vw), 1.6000rem);
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    text-align: center;
}

