.tp-video-slides {
    width: 100%;

    .tp-wrapper {
        display: flex;
        flex-direction: column;
        gap: clamp(3.2rem, 2.0114rem + 3.0476vw, 6.4rem);
        align-items: center;

        .text-wrapper {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;
            max-width: 720px;

			img {
				width: 100%;
				max-width: 240px;
			}

            h2 {
                color: #FE0;
                text-align: center;
                font-family: Montserrat;
                font-size: clamp(2.4000rem, calc(1.2114rem + 3.0476vw), 5.6000rem);
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 67.2px */
                text-transform: uppercase;
            }

			p {
				color: #FFF;
                text-align: center;
                font-family: Montserrat;
                font-size: clamp(1.4000rem, calc(1.2514rem + 0.3810vw), 1.8000rem);
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 19.6px */
			}
        }

        .swiper {
            width: 100%;

            .swiper-wrapper {

                .swiper-slide {
                    height: auto;
                    
                    .tp-block {
                        border-radius: 4px;

                        img {
                            width: 100%;
                            aspect-ratio: 1.25/2;
                            object-fit: cover;
                        }

                        video {
                            width: 100%;
                            aspect-ratio: 1.25/2;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        .tp-button {
            width: 100%;
            border-radius: 2px;
            background: #000;
            color: #FFF;
            font-family: Inter;
            font-size: clamp(1.4rem, 1.3257rem + 0.1905vw, 1.6rem);
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 320px;
            text-decoration: none;

            @media screen and (min-width: 768px) {
                height: 64px;
            }
        }
    }
}